/*Para empezar a generar los estilos segui estos pasos
para buenas practicas
1.Posicionamiento
2.Modelo de caja(Box model)
3.Tipografia
4.Visuales(efectos visulaes)
5.Otros
*/
:root{
/*colores*/
 --bitcoin-orange:#F7931A;
 --soft-orange: #ffe9d5;
 --secondary-blue: #1a9af7;
 --soft-blue: #e7f5ff;
 --warm-black: #282623;
 --black: #201e1c;
 --grey: #bababa;
 --off-white: #faf8f7;
 --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{

    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;/*fuente base DM Sans*/
}

header{
    position: relative;/**/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;/*el header del 100% para la pantalla*/
    min-width: 300px;/*el widht no se hara mas chico de 320 px*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);/*son dos colores separados por comas
    su grado de divicion y % del color negro y naranja*/
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;/*se ocupa para centrar un contenido que tenga un contenedor con display:flex*/
}

.header--title-container{
    width: 90%;/*utiliza un 90% del ancho entre 288px y 900px*/
    min-width: 288px;/**/
    max-width: 900px;/*una ves que llegue a 900px no crecera igual el min-width: ;*/
    height: 218px;/*altura del contenedor*/
    margin-top: 50px;/*separacion del logo 50px*/
    text-align: center;
    align-self: center;/*centrar el contenedor*/
}

.header--title-container h1{

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;/*dimension de altura arriba y abjo,altura de la funete*/
    color: var(--just-white);
}

.header--title-container p{

    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;/*ancho de funete*/
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{

  position: absolute;/*se utiliza top,botom,reight y left*/
  left: calc(50% - 118px);/*genera un calculo,le decimos que se valla al centro a un 505 menos 118px pra que se posicione al centro*/
  top: 270px;
  display: block;
  margin-top:35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border:none;/*por si hay un borde prestablecido*/
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span{/*el span biene pr defecto en inline,se tieen que poner en inline-blok */
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);/*icono*/
}

main{
    width: 100%;
    height: auto;/*el mismo contenido v ir definiendo la altura*/
    background-color: var(--off-white);
}

.main-exchange-container{

    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container-title{

    width: 90%;
    min-width: 288px;
    max-width: 900px;/*limitar crecimiento*/
    margin: 0 auto;
}

.main-exchange-container .backgroundImg{

    width: 200px;
    height: 200px;
    margin: 0 auto;/*para que se posicione en el centro*/
    margin-bottom: 50px;/*alejar la imagen del texto*/
    background-image: url('./assets/img/bitcoin.svg');
    background-size: cover;/**/
    background-position:center;/*sin importar el tamaño contenedora de la imagen podamos tener 
    visibilidad del centro de la imagen siempre*/
    background-repeat: no-repeat;/*si fuera mas chica la imagen se estire para que se vea visible*/
}
.main-exchange-container h2{

    margin-bottom: 30px;
    font-size: 2.4rem;/*24px*/
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;

}

.main-currency-table,.main-currency-table-dos{

    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;/*no le agrega mrgen de arriba y abajoy de los lados calcula el margin
    para que se quede en el centro */
   font-family: "Inter",sans-serif;
}

.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-currency-table-dos .currency-table--title-dos{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.currency-table--container, .currency-table--container-dos {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container-dos table{
    width: 100%;
    height: 100%;

}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--warm-black);
}

.currency-table--container-dos td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--warm-black);
}

.currency-table--container .table__top-left{
    border-radius: 15px 0 0;
}

.currency-table--container-dos .table__top-left-dos{
    border-radius: 15px 0 0;
}

.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container-dos .table__top-right-dos{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}

.currency-table--container-dos .table__bottom-left-dos{
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container-dos .table__bottom-right-dos{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right{

    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container-dos .table__right-dos{

    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.currency-table--container-dos .down-dos{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.currency-table--container .lineal{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.currency-table--container-dos .lineal-dos{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.currency-table--container .picada ,.picada-dos{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.currency-table--container-dos .picada-dos ,.picada-dos-dos{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.currency-table-date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table-date-dos{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--secondary-blue);
    border-radius: 8px;
}
.currency-table-date p{

    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
   
}

.currency-table-date-dos p{

    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black); 
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.product-detail--patata-logo{
    position: absolute;
    background-image: url('./assets/icons/batata.svg');
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    color: var(--just-white);
    font-weight: bold;
    line-height: 2.6rem;
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card{
    width: 100%;
    min-width: 288px;
    max-width:400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:var(--warm-black) ;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.product-detail--card .ojo{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/eye.svg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.product-detail--card .dolar{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/dollar-sign.svg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.product-detail--card .otro{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/check-circle.svg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}

.product--card-title{
margin-bottom: 15px;
font-size: 1.8rem;
font-weight: bold;
line-height: 1.8rem;
color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight:500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;/*para que la imagen pueda colocarse al 100 de la pantalla*/
    min-width: 320px;
    height:50vh;/*50% de la altura*/
    background-image:url("./assets/img/bitcoinbaby2x.jpg");
    background-position: center;    
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title{
    width: 90;
    min-width: 288px;
    height:auto;
    margin:0 auto;
    margin-bottom: 50px;

}
.plans--title h2{
padding-top: 50px;
font-size: 2.4rem;
font-weight: bold;
line-height: 2.6rem;
color: var(--black);
    
}

.plans--title p{
    padding-top: 30px;/*para separaralo del h2*/
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider{/*ponerlo en vertical las tarjetas*/

    display: flex;/*poner en vertical las tarjetas*/
    /*gap:50px ;le da un espacio entre los elementos pero no aplica para todos loss navegadores*/
    height: 316px;/*delimitar la altura del contenedor*/
    overflow-x:scroll;
    overscroll-behavior-x: contain ;
    scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar {   /*solose ve el scroll en chromefirefox no*/
    background-color: var(--soft-orange);
    height: 3px;
  }
  .plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
  }

.plans-container--card{
    position: relative;
    scroll-snap-align:center;/*animacion del scroll,la centra automanticamente
     para cuando hagamos scroll nos lleve al centro del elemnto*/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;/*auto para distribuir el eccedente*/
    padding: 0 15px;
   background-color: var(--just-white); 
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card-black{
    position: relative;
    scroll-snap-align:center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;/*auto para distribuir el eccedente*/
    padding: 0 15px;
   background-color: var(--warm-black); 
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomendado{
    position: absolute;/*su padreres el .plans-container--card para poderlo poner en absolue */
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 6px;/*empuja el texto en medio*/
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}
.recomendado-azul{
    position: absolute;/*su padreres el .plans-container--card para poderlo poner en absolue */
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 6px;/*empuja el texto en medio*/
    background-color: var(--secondary-blue);
    border-radius: 8px;
    color: var(--just-white);
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--title-negro{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--off-white);
}

.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.plan-card--prices{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color:var(--off-white);
}



.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align:30px ;/*o poner text-top,para que suba o baje verticalmente el simbolodel precio*/
    margin-right: 3px;
}

.plan-card--prices span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align:30px ;/*o poner text-top,para que suba o baje verticalmente el simbolodel precio*/
    margin-right: 3px;
    color: var(--off-white);
}


.plan-card--saving{

    font-size: 1.2rem;
    color: #757575;
}


.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color:#faf8f7;
    border:2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--ca-negro{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color:#faf8f7;
    border:2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    
}
.plan-card--ca-blue{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color:#faf8f7;
    border:2px solid var(--secondary-blue);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca span,.plan-card--ca-blue span, .plan-card--ca-negro  span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;/*lo alinea con forme al texto */
}


footer{
    display: flex;/*los dos section esten a lado del otro,en frente del otro */
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;/*un widht para hacer la separacion*/
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li{
    margin: 10px 0;
    
}

.left a{
    text-decoration: none;
    color: var(--just-white);
}






























